@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('./amatic-sc-v15-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url('./amatic-sc-v15-latin-700.woff2') format('woff2');
}
